<main class="py-5">
    <div class="container">

    	<mat-tab-group>
		  <mat-tab label="Articles">
		  	<ng-template mat-tab-label>
	            <mdb-icon fas icon="newspaper"></mdb-icon>
	            <span class="ml-2">Articles</span>
	        </ng-template>

		  	<app-article-list></app-article-list>

		  </mat-tab>

		  <mat-tab label="Videos">
		  	<ng-template mat-tab-label>
	            <mdb-icon fas icon="photo-video"></mdb-icon>
	            <span class="ml-2">Videos</span>
	        </ng-template>

		  	<app-videos></app-videos>

		  </mat-tab>

		</mat-tab-group>
        
    </div>


    

</main>


