<main class="py-5">  

    <div class="row col-lg-12">
      <div class="col-lg-4 pt-3">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                  <button  style="font-size: .4rem" mdbBtn type="button text-sm" [class.disabled]="listView==false" [class.enabled]="listView==true" color="light" size="sm" class="waves-light" mdbWavesEffect (click)="gridView=true; listView=false">
                  <mdb-icon fas icon="th-list"></mdb-icon> Grid View
                  </button>
                  
                  <button  style="font-size: .4rem" mdbBtn type="button text-sm" [class.disabled]="gridView==false" [class.enabled]="gridView==true" color="light" size="sm" class="waves-light" mdbWavesEffect (click)="gridView=false; listView=true">
                  <mdb-icon fas icon="th"></mdb-icon> List View
                  </button>

                  <a  style="font-size: .4rem" mdbBtn color="light" size="sm" class="waves-light text-sm" routerLink="/inventory-products-create"><mdb-icon fas icon="plus-square"></mdb-icon> Create New</a>
            </div> 
      </div>

      <!-- <div class="col-lg-2 text-center pt-2">
          
      </div> -->

      <div class="col-lg-4">
            
      </div> 

      <div class="col-lg-4 text-center">
          <!-- //table view -->
            <mat-form-field [class.d-block]="listView==true" [class.d-none]="listView==false">
              <input matInput type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)">
            </mat-form-field>


          <!-- grid view -->
            <mat-form-field [class.d-block]="gridView==true" [class.d-none]="gridView==false">
              <input matInput type="text" [(ngModel)]="productsFilter.name" placeholder="Search">
          </mat-form-field>
      </div> 


    </div>

      

      
    <div [class.d-block]="listView==true" [class.d-none]="listView==false" class="container-fluid">

        
       
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

                <ng-container matColumnDef="No.">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                  <td mat-cell *matCellDef="let element: index as i">
                    {{i+1}}
                  </td>
                </ng-container>    


                <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let element"> <img style="width:120px; height:60px;" height="60px" class="img-fluid" src="assets/images/{{element.image}}"></td>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name.substr(0,20)}}</td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="required points">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
                  <td mat-cell *matCellDef="let element"> {{element.pzwpoints_req}} </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                  <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                    <td mat-cell *matCellDef="let element" class="text-center"> 
                      <!-- <button (click)="deleteProducts(element._id)">delete</button> -->
                      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                          <button (click)="openProductDialog(element)" mdbBtn type="button" color="blue-grey" size="sm" class="waves-light" mdbWavesEffect><mdb-icon fas icon="search"></mdb-icon> View product information</button>
                          <button mdbBtn type="button" color="blue-grey" size="sm" class="waves-light" mdbWavesEffect><mdb-icon fas icon="edit"></mdb-icon> Edit product information</button>
                      </div>
                     </td>
                  </ng-container>
              
              
                <tr class="" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="hoverable" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
          </table>
    
          
            <mat-paginator [length]="length"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = $event"
                            showFirstLastButtons>
            </mat-paginator>
    </div> 
      
      
    <div [class.d-block]="gridView==true" [class.d-none]="gridView==false" class="container-fluid">
        

        

        <div class="row col-lg-12 col-12 col-sm-12 pt-5">
            
            <div class="col-lg-4 mb-2 animated flipInX" *ngFor="let row of products| filterBy: productsFilter | paginate: { itemsPerPage: 12, currentPage: p }">
                <div (click)="openProductDialog(row)" class="card hoverable">
                    <div class="card-body">
                        <div class="row col-sm-12">
                            <div class="col-sm-6">
                                <img style="width:120px; height:60px;" height="60px" class="img-fluid" src="assets/images/{{row.image}}">
                            </div>
                            <div class="col-sm-6 container-fluid">
                                <strong *ngIf="row.name.length>15; else elseBlock"><p style="font-size: 0.6rem">{{row.name.substr(0, 17)}}...</p></strong>
                               
                                <ng-template #elseBlock><strong><p style="font-size: 0.6rem">{{row.name.substr(0, 17)}}</p></strong></ng-template>
                            </div>
                            
                        </div>
                        <p style="font-size: 0.8rem" class="text-dark text-small float-right">Required Points: {{row.pzwpoints_req}}</p>
                    </div>
                </div>
            </div>

            <hr>

        </div>
        <div class="row waves-light mt-3 border-top" mdbWavesEffect>
            <div class="p-3">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>


</main>



