<main class="py-5">

  <div class="container-fluid">
    

      <a routerLink="/admin/post">
        <mdb-icon fas icon="arrow-left"></mdb-icon>
      </a>

      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <ng-template matStepLabel>Fillup Post Information</ng-template>
          
            <div class="col-lg-12 ">
                        <div class="row ">

                            <div class="col-lg-6">
                                <div class="md-form input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text md-addon" id="material-addon1">
                                        <mdb-icon fas icon="chalkboard-teacher"></mdb-icon>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Author" aria-label="Author" aria-describedby="material-addon1" [(ngModel)]="post_article.author">
                                  </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="md-form input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text md-addon" id="material-addon1">
                                        <mdb-icon fas icon="feather-alt"></mdb-icon>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="material-addon1" [(ngModel)]="post_article.title">
                                  </div>
                            </div>

                        </div>
                  </div>

                  <div class="col-lg-12 ">
                      
                        <div class="row ">

                            <div class="col-lg-6">
                                <div class="md-form input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text md-addon" id="material-addon1">
                                        <mdb-icon far icon="file-image"></mdb-icon>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Image Url" aria-label="Image_Url" aria-describedby="material-addon1" [(ngModel)]="post_article.image">
                                  </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="md-form input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text md-addon" id="material-addon1">
                                        <mdb-icon fas icon="photo-video"></mdb-icon>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Media Url (if any)" aria-label="Media_Url" aria-describedby="material-addon1" [(ngModel)]="post_article.media_url">
                                  </div>
                            </div>

                            <div class="col-lg-12">
                                
                              <div class="md-form">
                                <textarea type="text" id="form8" class="md-textarea form-control" [(ngModel)]="post_article.brief_description" mdbInput></textarea>
                                <label for="form8">Add Brief Description Here</label>
                              </div>

                            </div>

                        </div>

                  </div>

        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Add Contents</ng-template>
          
          <ckeditor [(ngModel)]="post_article.body"></ckeditor>

        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>

           <button mdbBtn type="button" color="default" outline="true" (click)="createpost()" mdbWavesEffect>Publish</button>
          
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>

  </div>
    
</main>



  