<main class="white py-5">
    <div class="container-fluid white">

    	<div class="col-lg-12">
			<div class="row">

				<div class="col-lg-3">
					
					<div class="card mb-2 admin-card-sizing">
						<div class="card-body">
							<p>
							<mat-icon class="card-icon mr-3 float-right">style</mat-icon>
							<span>Product: </span> <br>
							{{products.length}}
							</p>
						</div>
					</div>

				</div>
				<div class="col-lg-3">
					
					<div class="card mb-2 admin-card-sizing">
						<div class="card-body">
							<p>
							<mat-icon class="card-icon mr-3 float-right"> category</mat-icon>
							<span>Category: </span> <br>
							{{categories.length}}
							</p>
						</div>
					</div>

				</div>
				<div class="col-lg-3">
					
					<div class="card mb-2 admin-card-sizing">
						<div class="card-body">
							<p>
							<mat-icon class="card-icon mr-3 float-right">account_box</mat-icon>
	 						<span>users: </span> <br>
	 						{{users.length}}
	 						</p>
	 					</div>
					</div>

				</div>
				<div class="col-lg-3">
					
					<div class="card mb-2 admin-card-sizing">
						<div class="card-body">
							<p>
								<mat-icon class="card-icon mr-3 float-right">receipt</mat-icon>
								<span>Sales: </span> <br>
								{{sales.length}}
							</p>
						</div>
					</div>

				</div>

				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-6">
							<div class="card">
								<a routerLink="/point-of-sale">Create New Sale</a>
							</div>
						</div>
					</div>
				</div>

	        </div>
    	</div>
        
    </div>
</main>





