<div class="container-fuid">


	<mat-tab-group mat-align-tabs="center">
	  
	  <mat-tab label="First">
	  	<ng-template mat-tab-label>
	        <mdb-icon fas icon="boxes"></mdb-icon>
	        <span class="ml-2">Sales</span>
	    </ng-template>


	    	<app-sales-acrhive></app-sales-acrhive>


	  </mat-tab>

	  <mat-tab label="Second">
	  	<ng-template mat-tab-label>
	        <mdb-icon fas icon="boxes"></mdb-icon>
	        <span class="ml-2">Product</span>
	    </ng-template>

	   	
	   		<app-product-acrhive></app-product-acrhive>


	  </mat-tab>

	   <mat-tab label="Second">
	  	<ng-template mat-tab-label>
	        <mdb-icon fas icon="boxes"></mdb-icon>
	        <span class="ml-2">Category</span>
	    </ng-template>

	   	
	   		<app-category-acrhive></app-category-acrhive>


	  </mat-tab>

	  <mat-tab label="Second">
	  	<ng-template mat-tab-label>
	        <mdb-icon fas icon="boxes"></mdb-icon>
	        <span class="ml-2">Post</span>
	    </ng-template>

	   	
	   		<app-post-acrhive></app-post-acrhive>


	  </mat-tab>

	  <mat-tab label="Second">
	  	<ng-template mat-tab-label>
	        <mdb-icon fas icon="boxes"></mdb-icon>
	        <span class="ml-2">Message</span>
	    </ng-template>

	   	
	   		<app-message-acrhive></app-message-acrhive>


	  </mat-tab>

	  
	</mat-tab-group>


	
</div>