
<header *ngIf="!isAdmin" id="header">

  <a href="#home" class="logo" style="font-size: 20px; font-weight: bold;">Project <i class="fas fa-recycle animated rotateOut slower infinite"></i> <span class="headerlogo" style="font-size: 20px; font-weight: bold;"> Zero</span></a>
  <ul>
  <li class="animated wow zoomInDown" data-wow-delay="0.2s"><a routerLink="/home" routerLinkActive="linkActive">Home</a></li>
    <li class="animated wow zoomInDown" data-wow-delay="0.4s"><a href="#about" onclick="toggle()">About</a></li>
    <li class="animated wow zoomInDown" data-wow-delay="0.6s"><a href="#services" onclick="toggle()">Features</a></li>
    <li class="animated wow zoomInDown" data-wow-delay="0.8s"><a href="#numbers" onclick="toggle()">Numbers</a></li>
    <li class="animated wow zoomInDown" data-wow-delay="1s"><a href="#timeline" onclick="toggle()">Timeline</a></li>
    <li class="animated wow zoomInDown" data-wow-delay="1.2s"><a  a routerLink="/products" routerLinkActive="linkActive">Products</a></li>
    <li class="animated wow zoomInDown" data-wow-delay="1.4s"><a href="#team" onclick="toggle()">Team</a></li>
    <!-- <li><a href="#contact" onclick="toggle()"> {{details.firstname}}</a></li>  -->
    <li *ngIf="!userService.isLoggedIn()" class="animated wow zoomInDown" data-wow-delay="1.6s" >
      <a class="text-decoration-none" (click)="loginModal.show()"><span class="loginBtn">Login</span></a>
    </li>
    <li *ngIf="userService.isLoggedIn()" class="animated wow zoomInDown" data-wow-delay="1.6s" >
      <a class="text-decoration-none" routerLink="/profile" ><span class="loginBtn">{{displayName}}</span></a>
    </li>
    <li *ngIf="userService.isLoggedIn()" class="animated wow zoomInDown" data-wow-delay="1.6s" >
      <a class="text-decoration-none" (click)="logout();"><span class="loginBtn">Logout</span></a>
    </li>

  </ul>
  <div class="toggle" onclick="toggle()"></div>
</header>


<mat-drawer-container *ngIf="isAdmin"
  [class.drawer-opened]="drawer.opened"
  class="example-container">
  <mat-drawer #drawer 
    class="drawer" 
    mode="side" 
    opened="true">

    <mat-toolbar style="height:50px; background-color:#1c2331;" class="header">
      <div>
        <a href="#home" class="logo text-light" style="font-size: 15px; font-weight: bold;">Project <i class="fas fa-recycle animated rotateOut slower infinite"></i> <span class="headerlogo" style="font-size: 20px; font-weight: bold;"> Zero</span></a>
      </div>
      <mat-icon class="close"
     (click)="drawer.close()">menu</mat-icon>
    </mat-toolbar>

    <div class="col pt-5 text-center text-light position-static mt-3">
      <mdb-icon fas class="fa-2x" icon="user-circle"></mdb-icon>
    </div>

    <div style="border-bottom: 1px solid white; border-style: dotted" class="col text-center text-light mb-3 pb-2 border-left-0 border-top-0 border-right-0">
      <strong>Admin User</strong>
    </div>

    <div style="background-color:#263238;">
       
      <ul style="background-color:#263238; font-size: .8rem" *ngIf="isExpanded" class="list-group animated fadeIn">
        <li class="mb-3">
          <a class="d-flex justify-content-between align-items-center white-text nav-link" routerLink="/admin/home" routerLinkActive="activeRoute text-light rounded-0 elegant-color-dark">
            <span class="input-group">
              <mat-icon class="mr-3">dashboard</mat-icon><br>Dashboard
            </span>
          </a>
        </li>

        <li class="mb-3">
          <a class="d-flex justify-content-between align-items-center white-text nav-link" routerLink="admin/post" routerLinkActive="activeRoute text-light rounded-0 elegant-color-dark">
            <span class="input-group">
              <mat-icon class="mr-3"> email</mat-icon> Messages
            </span>

            {{unreadMsg.length}}

          </a>
        </li>

        <li class="mb-3">
          <a class="d-flex justify-content-between align-items-center white-text nav-link" routerLink="admin/sales" routerLinkActive="activeRoute text-light rounded-0 elegant-color-dark">
            <span class="input-group">
              <mat-icon class="mr-3">receipt</mat-icon> Sales
            </span>
          </a>
        </li>

        <li class="mb-3">
          <a class="d-flex justify-content-between align-items-center white-text nav-link" routerLink="/admin/products" routerLinkActive="activeRoute text-light rounded-0 elegant-color-dark">
            <span class="input-group">
              <mat-icon class="mr-3">style</mat-icon> Products
            </span>
          </a>
        </li>

        <li class="mb-3">
          <a class="d-flex justify-content-between align-items-center white-text nav-link" routerLink="/admin/redeemables" routerLinkActive="activeRoute text-light rounded-0 elegant-color-dark">
            <span class="input-group">
              <mat-icon class="mr-3">pages</mat-icon> Redeemables
            </span>
          </a>
        </li>

        <li class="mb-3">
          <a class="d-flex justify-content-between align-items-center white-text nav-link" routerLink="/admin/category" routerLinkActive="activeRoute text-light rounded-0 elegant-color-dark">
            <span class="input-group">
              <mat-icon class="mr-3"> category</mat-icon> Categories
            </span>
          </a>
        </li>

        <li class="mb-3">
          <a class="d-flex justify-content-between align-items-center white-text nav-link" routerLink="admin/users" routerLinkActive="activeRoute text-light rounded-0 elegant-color-dark">
            
            <span class="input-group">
              <mat-icon class="mr-3">account_box</mat-icon> Customers
            </span>
          </a>
        </li>

        <li class="mb-3">
          <a class="d-flex justify-content-between align-items-center white-text nav-link" routerLink="admin/post" routerLinkActive="activeRoute text-light rounded-0 elegant-color-dark">
            <span class="input-group">
              <mat-icon class="mr-3">featured_play_list</mat-icon> Post
            </span>
          </a>
        </li>

      </ul>

    </div>
  </mat-drawer>
  
  <mat-toolbar class="container-fluid  main header">
    <mat-icon
        *ngIf="!drawer.opened"
        (click)="drawer.toggle()">
            menu
    </mat-icon>
      
    

    <div [class.pleft]="drawer.opened" class="move-left" style="width: 100%;">

      <a style="font-size: .6rem;" class="nav-link float-left">
        {{router.url}}
      </a>
      
      <div *ngIf="userService.isLoggedIn()" class="btn-group btn-group-sm float-right pt-2" role="group" aria-label="Basic example">
          <button mdbBtn type="button" color="light" (click)="logout();" size="sm" class="waves-light" mdbWavesEffect>Logout</button>
          <button mdbBtn type="button" color="light" size="sm" class="waves-light" mdbWavesEffect>Middle</button>
          <button mdbBtn type="button" color="light" size="sm" class="waves-light" mdbWavesEffect>Right</button>
      </div>
    </div>
  </mat-toolbar>

  <div class="mt-5">
    <div>
      <div *ngIf="loadingIn" class="animated wow zoomInDown" data-wow-delay="1.6s" >
            <a href="">Loading</a>
      </div>
      <div class="white container-fluid">
        <router-outlet *ngIf="isAdmin">

      </router-outlet>
      </div>
    </div>
  </div>


  <!-- <mat-toolbar class="main footer fixed-bottom">
    Footer
  </mat-toolbar> -->
</mat-drawer-container>


<router-outlet *ngIf="!isAdmin">

</router-outlet>


<div *ngIf="loadingIn && !isAdmin" class="animated wow zoomInDown" data-wow-delay="1.6s" >
      <a href="">Loading</a>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>
</ngx-spinner>

<!-- Log in Modal -->
<div mdbModal style="overflow-y: auto" #loginModal="mdbModal" class="modal fade top bg-unique" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg cascading-modal modal-avatar" role="document">
    <div class="modal-content bg-unique-dark ml-12">
      <div class="modal-header">
        <img src="assets/img/mark.jpg" class="rounded-circle img-responsive animated zoomIn">
        <h3 class="text-light">Login</h3>
      </div>

      <div class="modal-body p-5 bg-unique-dark text-light">

        <div class="row">
          <div class="col-xl-6 border-right mt-3">
            <p>You can also sign in with:</p>
            <button id="fbLoginBtn" type="button" mdbBtn color="primary" class="waves-light btn-sm btn-block" mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook</button>
            <button id="googleLoginBtn" type="button" mdbBtn gradient="peach" class="waves-light btn-sm btn-block mt-3" mdbWavesEffect><i class="fab fa-google left"></i>Google</button>
          </div>

          <div class="col-xl-6">
            <form #loginForm="ngForm" (submit)="login()">
              <div class="md-form">
                <mdb-icon far icon="envelope animated zoomIn" ></mdb-icon>

                <input mdbInput type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]*" #email="ngModel" [(ngModel)]="credentials.email"  name="userEmail" class="form-control text-light" [class.invalid]="email.invalid && email.touched" maxlength="30" required>

                <span *ngIf="email.invalid && email.touched" class="text-danger">Invalid Email</span><label for="userEmail">Email</label>

              </div>
              <div class="md-form">
                  <mdb-icon fas icon="key animated zoomIn"></mdb-icon>
                  <input mdbInput type="password" #password="ngModel" [(ngModel)]="credentials.password" name="userPassword" class="form-control text-light" [class.invalid]="password.invalid && password.touched" maxlength="20" required>
                  <span *ngIf="password.invalid && password.touched" class="text-danger">Invalid Password</span><label for="userPassword">Password</label>
              </div>

              <button id="loginBtn" class="btn btn-block btn-sm btn-success text-light" type="submit" [disabled]="loginForm.invalid">Login</button>
              <div class="row mt-2">
                <div class="col-xl-6"><a type="button" class="text-primary">Forgot Password?</a></div>
                <div class="col-xl-6"><a type="button" (click)="loginModal.hide(); registerModal.show()" class="float-right text-primary">Create Account</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Register Modal -->
<div style="overflow-y: auto" mdbModal #registerModal="mdbModal" class="modal fade bottom bg-unique" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg cascading-modal modal-avatar" role="document">
    <div class="modal-content bg-unique-dark">
      <div class="modal-header">
        <img src="assets/img/mark.jpg" class="rounded-circle img-responsive animated zoomIn">
        <h3 class="text-light">Register</h3>
      </div>

      <div class="modal-body px-5 bg-unique-dark text-light">
        <div class="row">
          <form (submit)="register()" #registrationForm="ngForm" class="col-xl-12 text-light">
            <div class="row">
              <div class="col-xl-12 mx-auto">
                <div class="md-form">
                  <mdb-icon fas icon="user animated zoomIn"></mdb-icon>
                  <input mdbInput type="text" pattern="[A-Za-z\s.]*" #newuserfirstname="ngModel" [(ngModel)]="register_info.firstname"  name="registerFirstname" class="form-control text-light" [class.invalid]="newuserfirstname.invalid && newuserfirstname.touched" maxlength="50" required>
                  <span *ngIf="newuserfirstname.invalid && newuserfirstname.touched" class="text-danger">Invalid format</span><label for="newuserfirstname">Firstname</label>
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="user  animated zoomIn"></mdb-icon>
                  <input mdbInput type="text" pattern="[A-Za-z\s.]*" #newusermiddlename="ngModel" [(ngModel)]="register_info.middlename"  name="registerMiddlename" class="form-control text-light" [class.invalid]="newusermiddlename.invalid && newusermiddlename.touched" maxlength="50" required>
                  <span *ngIf="newusermiddlename.invalid && newusermiddlename.touched" class="text-danger">Invalid format</span><label for="newusermiddlename">Middlename</label>
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="user  animated zoomIn"></mdb-icon>
                  <input mdbInput type="text" pattern="[A-Za-z\s.]*" #newuserlastname="ngModel" [(ngModel)]="register_info.lastname"  name="registerLastname" class="form-control text-light" [class.invalid]="newuserlastname.invalid && newuserlastname.touched" maxlength="50" required>
                  <span *ngIf="newuserlastname.invalid && newuserlastname.touched" class="text-danger">Invalid format</span><label for="newuserlastname">Lastname</label>
                </div>

                <div class="md-form">
                  <mdb-icon fas icon="mobile-alt animated zoomIn"></mdb-icon>
                  <input mdbInput type="text" pattern="[0-9]*" #newuserphone="ngModel" [(ngModel)]="register_info.phone"  name="registerPhone" class="form-control text-light" [class.invalid]="newuserphone.invalid && newuserphone.touched" maxlength="11" required>
                  <span *ngIf="newuserphone.invalid && newuserphone.touched" class="text-danger">Invalid phone format</span><label for="newuserphone">Phone</label>
                </div>
                <div class="md-form">
                  <mdb-icon far icon="envelope animated zoomIn"></mdb-icon>
                  <input mdbInput type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]*" #newuseremail="ngModel" [(ngModel)]="register_info.email"  name="registerEmail" class="form-control text-light" [class.invalid]="newuseremail.invalid && newuseremail.touched" maxlength="30" required>
                  <span *ngIf="newuseremail.invalid && newuseremail.touched" class="text-danger">Invalid email format</span><label for="newuseremail">Email</label>
                </div>
                <div class="md-form">
                  <mdb-icon fas icon="key animated zoomIn"></mdb-icon>
                  <input mdbInput pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" #newuserpassword="ngModel" [(ngModel)]="register_info.password"  name="registerPassword" class="form-control text-light" [class.invalid]="newuserpassword.invalid && newuserpassword.touched" maxlength="20" required>
                  <span *ngIf="newuserpassword.invalid && newuserpassword.touched" class="text-danger">Must contain at least one number and one uppercase and lowercase letter, and at least 8 to 20 characters</span><label for="newuserpassword">Password</label>
                </div>
                <div class="md-form">
                    <mdb-icon fas icon="check-circle animated zoomIn"></mdb-icon>
                    <input mdbInput type="password" #verifypassword="ngModel" [(ngModel)]="verifyregpassword"  name="verifyregpassword" class="form-control text-light" [class.invalid]="verifypassword.invalid && verifypassword.touched" maxlength="20" required>
                    <span *ngIf="register_info.password != verifyregpassword && verifypassword.touched" class="text-danger">Passwords do not match</span>
                    <label for="verifyregpassword">Confirm Password</label>
                  </div>
                <div class="md-form">
                  <button id="registerBtn" class="btn btn-block btn-sm py-3 bg-amber text-light" type="submit" [disabled]="registrationForm.invalid" (click)="registerNotify.show()">Register</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div mdbModal #mgsModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success p-2 modal-side modal-bottom-right" role="document">
    <!--Content-->
  

  <div *ngIf="userService.isLoggedIn()" class="row col-sm-12 displaystyle-rightborder displaystyle-success">
        <strong>
          <mdb-icon fas icon="check-circle"></mdb-icon> Welocome {{displayName}} you successfully logged in
        </strong>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #registerSuccessModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success p-2 modal-side modal-bottom-right" role="document">
    <!--Content-->
  

  <div class="row col-sm-12 displaystyle-rightborder displaystyle-success">
        <strong>
          <mdb-icon fas icon="check-circle"></mdb-icon> Your account is successfully created!
        </strong>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #registerFailModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success p-2 modal-side modal-bottom-right" role="document">
    <!--Content-->
  

  <div class="row col-sm-12 displaystyle-rightborder displaystyle-danger">
        <strong>
          <mdb-icon fas icon="check-circle"></mdb-icon>Fail to create your account 
        </strong>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #mgsERModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success p-2 modal-side modal-bottom-right" role="document">
    <!--Content-->
    <div class="row col-sm-12 displaystyle-rightborder displaystyle-danger">
        <strong><mdb-icon class="red-text" fas icon="ban"></mdb-icon> FAIL TO LOGIN | Invalid email or password</strong>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #mgsLogoutModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success p-2 modal-side modal-bottom-right" role="document">
    <!--Content-->

    <div *ngIf="!userService.isLoggedIn()" class="row col-sm-12 displaystyle-rightborder displaystyle-success">
        <strong>
          You succesfully logged out
        </strong>
    </div>
    <!--/.Content-->
  </div>
</div>


<div mdbModal #mgsAUTHModal="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success p-2 modal-side modal-bottom-right" role="document">
    <!--Content-->
    <div class="row col-sm-12 displaystyle-rightborder displaystyle-danger">
        <strong><mdb-icon class="red-text" fas icon="ban"></mdb-icon>You must login first</strong>
    </div>
    <!--/.Content-->
  </div>
</div>


