
<div class="container-fluid mt-3 p-0">

	<div class="col-lg-12 text-center">
       <div class="row">
			
			<div class="col-lg-4">

       			<a mdbBtn type="button" class="btn btn-default btn-circle mt-4 float-left" mdbTooltip="Create new article" 
				placement="top" routerLink="create">
					<mdb-icon fas icon="pen-nib"></mdb-icon>
				</a> 

       		</div> 

       		<div class="col-lg-4">
       			
       		</div>       	 

       		<div class="col-lg-4">
       			<mat-form-field style="width:100%;">
		          <input matInput type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)">
		        </mat-form-field>
       		</div>


       </div>
    </div>

	<div class="col-lg-12">

		<mat-accordion>
		  
		  <mat-expansion-panel *ngFor="let row of obs | async">
		    <mat-expansion-panel-header style="font-size: .7rem;">
		      <mat-panel-title>
		        {{row.title}}
		      </mat-panel-title>
		      <mat-panel-description >
		        <div class="col-lg-12 float-right text-right">
		        	By: {{row.author}}
		        </div>
		      </mat-panel-description>
		    </mat-expansion-panel-header>

		    <span class="float-right">
		    	<button class="btn btn-default btn-circle"><mdb-icon fas icon="pen-nib"></mdb-icon></button>
		    	<button class="btn btn-danger btn-circle" (click)="archivePost(row)"><mdb-icon fas icon="trash"></mdb-icon></button>
		    </span>

		    <div style="font-size: .7rem;" class="p-body" [innerHTML]="row.body"></div>
		    
		  </mat-expansion-panel>
		
		</mat-accordion>

		<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		
	</div>

</div>