<main class="py-3">

	<p *ngIf="dpname" class="note note-success" style="font-size: .6rem;"><strong>{{selectedUser.firstname}} {{selectedUser.middlename}} {{selectedUser.lastname}}</strong> <span class="float-right" (click)="removeCustomer()"><mdb-icon fas icon="times"></mdb-icon></span>
		<br>
	
		Email: {{selectedUser.email}}<br>
		Phone: {{selectedUser.phone}}<br>
		PZW Points: {{selectedUser.pzwpoints}}
	
	</p>


	<div class="col-lg-12">

		<div class="row">

			<div class="col-lg-5 border">

				<div class="row">

					

					<div class="col-lg-12 border-bottom pt-3 pb-3">

						<div class="input-group input-group-sm">

						  <input type="text" class="form-control form-control-sm" placeholder="Customer" [(ngModel)]="dpname" aria-label="Text input with dropdown button" readonly>
						  <div class="input-group-append">
						    <div class="btn-group " mdbDropdown>
						      <button mdbDropdownToggle type="button" mdbBtn color="success" size="sm" class="dropdown-toggle"
						        mdbWavesEffect><mdb-icon fas icon="user-alt"></mdb-icon></button>

						      <div class="dropdown-menu">
						        <button class="dropdown-item" (click)="openUserDialog('Create transaction for: ')"><mdb-icon fas icon="search"></mdb-icon> Search</button>
						        <a class="dropdown-item" href="#"><mdb-icon fas icon="fingerprint"></mdb-icon> Scan fingerprint</a>
						      </div>

						    </div>

						    

						  </div>

						</div>

					</div>

				<!-- Begin Sale -->

					<div *ngIf="inredeem==false" style="height: 350px" class="overflow-auto container pt-3 col-lg-12">
					     <ul class="list-unstyled">
					  		<li *ngFor="let i_row of item; index as i">
								<div class="row">
									<div  class="col-lg-12">
											
										<div  class="input-group mb-3">

										  <div class="input-group-append">
										    <span  style="width: 200px; height: 30px; font-size: .6rem" class="input-group-text" id="basic-addon2">{{i_row.name}}</span>
										  </div>
										  <input style="height: 30px;" type="number" class="form-control" (change)="conputeTotal()"  [(ngModel)]="i_row.quantity" value="i_row.quantity"
										    aria-describedby="basic-addon2">

										    <div class="input-group-append btn-group btn-group-sm">
											    <button mdbBtn floating="true" size="sm" type="button" color="danger" outline="false" mdbWavesEffect (click)="removeItem(i)"><mdb-icon fas icon="minus-circle"></mdb-icon></button>
											</div>

											

										</div>

									</div>
								</div>
					  		</li>
				  		</ul>
					</div>

					<div *ngIf="inredeem==false" class="col-lg-12 ">
						<div class="row">
							<div class="col-lg-12 border-top border-bottom">
									
										
								<div class="col-lg-12 pt-2">

									<div class="row">
										
										<div class="col-lg-6">
											
											<h5 style="font-size: .8rem;">Total: <br> ₱ {{totalCost}}</h5>

										</div>

										<div class="col-lg-6">
												
											<h5 style="font-size: .8rem;">Amount Paid: <br> ₱ {{amount_due}}</h5>

										</div>

										<div class="col-lg-12 border-top pt-2">
												
											<p style="font-size: .7rem">Change:  ₱ {{change}}</p>

										</div>
									
									
									</div>
								</div>


							</div>

							<div class="md-form input-group mb-3">

							  <div class="input-group-prepend">
							    <span class="input-group-text md-addon">₱</span>
							  </div>

							  <input type="number" [(ngModel)]="amount_due" (change)="payment()" [class.disabled]="item.length<1" (keyup)="payment()" class="form-control">

							  <div class="input-group-append">
							   <button style="width:100%;" [class.disabled]="totalCost>amount_due || amount_due<1" mdbBtn type="button" (click)="createSale()" color="success" outline="true" mdbWavesEffect><mdb-icon fas icon="check-circle"></mdb-icon> Complete Transaction</button>
							  </div>

							</div>

						</div>
					</div>


					<!-- End Sale -->


					<!-- Begin Redeem -->

					<div *ngIf="inredeem==true" style="height: 350px" class="overflow-auto container pt-3 col-lg-12">
					     <ul class="list-unstyled">
					  		<li *ngFor="let i_row of redeemed_item; index as i">
								<div class="row">
									<div  class="col-lg-12">
											
										<div  class="input-group mb-3">

										  <div class="input-group-append">
										    <span  style="width: 200px; height: 30px; font-size: .6rem" class="input-group-text" id="basic-addon2">{{i_row.name}}</span>
										  </div>
										  <input style="height: 30px;" type="number" class="form-control" (change)="conputeTotalRedeem()"  [(ngModel)]="i_row.quantity" value="i_row.quantity"
										    aria-describedby="basic-addon2">

										    <div class="input-group-append btn-group btn-group-sm">
											    <button mdbBtn floating="true" size="sm" type="button" color="danger" outline="false" mdbWavesEffect (click)="removeRedeemedItem(i)"><mdb-icon fas icon="minus-circle"></mdb-icon></button>
											</div>

											

										</div>

									</div>
								</div>
					  		</li>
				  		</ul>
					</div>

					<div *ngIf="inredeem==true" class="col-lg-12 ">
						<div class="row">
							<div class="col-lg-12 border-top border-bottom">
									
										
								<div class="col-lg-12 pt-2">

									<div class="row">
										
										<div class="col-lg-12">
											
											<h5 style="font-size: .9rem;">Total PZW Points:<span class="float-right">{{totalCost_points}}</span></h5>

										</div>
									
									
									</div>
								</div>


							</div>

							<div class="md-form input-group mb-3">

							   <button style="width:100%;" mdbBtn type="button" (click)="createRedeem()" color="success" outline="true" mdbWavesEffect><mdb-icon fas icon="check-circle"></mdb-icon> Redeem Item</button>

							</div>

						</div>
					</div>


					<!-- End Redeem -->


				</div>

			</div>

			<div class="col-lg-7">

				<div class="row">
					
					<div class="col-lg-12 pt-2 mb-1">
						
						<div style="width:100%;" class="btn-group btn-group-sm border" role="group" aria-label="Basic example">
						    <a mdbBtn type="button" color="unique" size="sm" class="waves-light"  routerLink="/admin/inventory" mdbWavesEffect><mdb-icon fas icon="cube"></mdb-icon> INVENTORY</a>

						    <button *ngIf="inredeem==false" mdbBtn type="button" color="unique" size="sm" class="waves-light" mdbWavesEffect (click)="openUserDialog('Redeem Item For: '); openRedeem();"><mdb-icon fas icon="gifts"></mdb-icon> Reedem Item</button>
						   
						    <button *ngIf="inredeem==true" mdbBtn type="button" color="unique" size="sm" class="waves-light" mdbWavesEffect (click)="closeRedeem();"><mdb-icon fas icon="gifts"></mdb-icon> Make Sale</button>

						     <button mdbBtn type="button" color="unique" size="sm" class="waves-light" mdbWavesEffect (click)="cancellTransaction()"><mdb-icon fas icon="ban"></mdb-icon> Cancel Transaction</button>

						</div>

					</div>

					<div *ngIf="inredeem==false" class="col-lg-12">

							<mat-tab-group class="border">

								<mat-tab label="Products ">
								  	<ng-template mat-tab-label>
							            <mdb-icon fas icon="boxes"></mdb-icon>
				            			<span class="ml-2">All</span>
							        </ng-template>

							        

								  	<div style="height: 450px" class="overflow-auto pb-1">
								  		<div class="col-lg-12 col-12 col-sm-12 pt-3">
								  			<div class="row">
								  				
								  				<div *ngFor="let row of obs | async | filterBy: productsFilterAll" [class.disabled]="row.quantity<1" (click)=" addItem(row)" class="col-lg-3 col-3 col-sm-3 mb-3">
								  					
								  					<mdb-card style="width: 123px;" mdbTooltip="{{row.name}} -- Availability: {{row.quantity}}" placement="top">

								  						<div style="height: 12px;" class="container-fluid border-top pl-2">
																
																<p class="bg-dark font-weight-light" style="font-size: .6rem; width: 40px;">
													    			<strong class="text-light"><span class="fontweight-bold">₱</span>: {{row.price}}</strong>
													    		</p>

															</div>

													    <div style="height: 120px;" class="view rgba-white-slight waves-light p-3" mdbWavesEffect>
													      <!-- Card img -->
													      <mdb-card-img src="assets/images/{{row.image}}" alt="Card image cap"></mdb-card-img>
													      <a>
													        <div class="mask"></div>
													      </a>
													    </div>
													    <!--Card content-->
													    <div style="height: 40px;" class="container-fluid border-top pl-2">
																
																<p [class.text-danger]="row.quantity<1" [class.fontweight-bold]="row.quantity<1" style="font-size: .5rem">
													    			<strong>{{(row.quantity<1)? "Out of stock":row.name}}</strong>
													    		</p>

															</div>

													  </mdb-card>


								  				</div>

								  			</div>
								  		</div>

							 		

							        </div>

							        <mat-progress-bar *ngIf="loadingAll" mode="indeterminate"></mat-progress-bar>

							        <div class="col-lg-12 border-top">

							        	<div class="row">
							        		
							        		<div class="col-lg-8 pl-3">
							        			<mat-form-field style="width:100%;">
									              <mat-label>Search Item</mat-label>
									              <input matInput type="text" [(ngModel)]="productsFilterAll.name" placeholder="Search">
									              <mat-icon matSuffix>search</mat-icon>
									         	</mat-form-field>
							        		</div>

							        		

							        		<div class="col-lg-4 p-2">
							        			<button class="btn btn-light btn-sm z-depth-0">
							        				<mdb-icon fas icon="barcode"></mdb-icon> Scan Barcode
							        			</button>
							        		</div>
							        	
							        	</div>
							        	
							        </div>
							        
								  </mat-tab>

								  <mat-tab *ngFor="let row of categories" label="Products ">
								  	<ng-template mat-tab-label>
							            <img (click)="getProductsList(row)" style="width:120px; height:60px;" height="60px" class="img-fluid" src="assets/img/category/{{row.image}}">
							            <span class="ml-2" (click)="getProductsList(row)">{{row.name}}</span>
							        </ng-template>

							        

							        <div style="height: 450px" class="overflow-auto pb-1">

							        	<div class="col-lg-12 col-12 col-sm-12 pt-3">
								  			<div class="row">
								  				
								  				<div *ngFor="let product of categoryProducts|filterBy: productsFilter" [class.disabled]="product.quantity<1" (click)=" addItem(product)" class="col-lg-3 col-3 col-sm-3 mb-3">
								  					
								  					

								  					<mdb-card style="width: 123px;" mdbTooltip="{{product.name}} -- Availability: {{product.quantity}}" placement="top">

								  						<div style="height: 12px;" class="container-fluid border-top pl-2">
																
																<p class="bg-dark font-weight-light" style="font-size: .6rem; width: 40px;">
													    			<strong class="text-light"><span class="fontweight-bold">₱</span>: {{product.price}}</strong>
													    		</p>

															</div>

													    <div style="height: 120px;" class="view rgba-white-slight waves-light p-3" mdbWavesEffect>
													      <!-- Card img -->
													      <mdb-card-img src="assets/images/{{product.image}}" alt="Card image cap"></mdb-card-img>
													      <a>
													        <div class="mask"></div>
													      </a>
													    </div>
													    <!--Card content-->
													    <div style="height: 40px;" class="container-fluid border-top pl-2">
																
																<p [class.text-danger]="product.quantity<1" [class.fontweight-bold]="product.quantity<1" style="font-size: .5rem">
													    			<strong>{{(product.quantity<1)? "Out of Stock":product.name}}</strong>
													    		</p>

															</div>

													  </mdb-card>
													  
								  				</div>

								  			</div>
								  		</div>

							        	
							        </div>
								  	

								  	<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

							          <div class="row">
							        		
							        		<div class="col-lg-8">
							        			<mat-form-field class="pl-3" style="width:100%;">
									              <mat-label>Search Item</mat-label>
									              <input matInput type="text" [(ngModel)]="productsFilter.name" placeholder="Search">
									              <mat-icon matSuffix>search</mat-icon>
									         	</mat-form-field>
							        		</div>

							        		

							        		<div class="col-lg-4 p-2">
							        			<button class="btn btn-light btn-sm z-depth-0">
							        				<mdb-icon fas icon="barcode"></mdb-icon> Scan Barcode
							        			</button>
							        		</div>
							        	
							        </div>

								  </mat-tab>
								  
								</mat-tab-group>
					</div>


					<div *ngIf="inredeem==true" class="col-lg-12">


						<div style="height: 450px" class="overflow-auto pb-1 border">

							        	<div class="col-lg-12 col-12 col-sm-12 pt-3">
								  			<div class="row">
								  				
								  				<div *ngFor="let product of categoryProducts | filterBy: productsFilter" [class.disabled]="product.quantity<1" (click)=" addItemRedeem(product)" class="col-lg-3 col-3 col-sm-3 mb-3">
								  					
								  					

								  					<mdb-card style="width: 123px;" mdbTooltip="{{product.name}} -- Availability: {{product.quantity}}" placement="top">

								  						<div style="height: 12px;" class="container-fluid border-top pl-2">
																
																<p class="bg-dark font-weight-light" style="font-size: .6rem; width: 40px;">
													    			<strong class="text-light"><span class="fontweight-bold">₱</span>: {{product.pzwpoints_req}}</strong>
													    		</p>

															</div>

													    <div style="height: 120px;" class="view rgba-white-slight waves-light p-3" mdbWavesEffect>
													      <!-- Card img -->
													      <mdb-card-img src="assets/images/{{product.image}}" alt="Card image cap"></mdb-card-img>
													      <a>
													        <div class="mask"></div>
													      </a>
													    </div>
													    <!--Card content-->
													    <div style="height: 40px;" class="container-fluid border-top pl-2">
																
																<p [class.text-danger]="product.quantity<1" [class.fontweight-bold]="product.quantity<1" style="font-size: .5rem">
													    			<strong>{{(product.quantity<1)? "Out of Stock":product.name}}</strong>
													    		</p>

															</div>

													  </mdb-card>
													  
								  				</div>

								  			</div>
								  		</div>

							        	
							</div>
								  	

							<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

							
							<div class="col-lg-12 border">

								<div class="row">
							        		
					        		<div class="col-lg-8">
					        			<mat-form-field class="pl-3" style="width:100%;">
							              <mat-label>Search Item</mat-label>
							              <input matInput type="text" [(ngModel)]="productsFilter.name" placeholder="Search">
							              <mat-icon matSuffix>search</mat-icon>
							         	</mat-form-field>
					        		</div>

								        		

					        		<div class="col-lg-4 p-2">
					        			<button class="btn btn-light btn-sm z-depth-0">
					        				<mdb-icon fas icon="barcode"></mdb-icon> Scan Barcode
					        			</button>
					        		</div>
								        	
								</div>

							</div>

					</div>


				</div>

			</div>
		</div>

	</div>

</main>


