<div class="animated fadeIn">

  <mat-dialog-content class="mat-typography">

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h3>{{msg}}</h3>

    <mat-form-field style="width:100%;">
        <mat-label>Search Customer</mat-label>
        <input matInput type="text" [(ngModel)]="productsFilter.firstname" placeholder="Search">
        <mat-icon matSuffix>search</mat-icon>
   </mat-form-field>

    <ul  style="font-size: .9rem;" class="names">
      <li *ngFor="let row of users | filterBy: productsFilter"  (click)="selectUser(row)">

        <span *ngIf="!row.isAdmin">{{row.firstname}} {{row.lastname}}</span>
        
      </li>
    </ul>
    
  </mat-dialog-content>


  <div style="height: 150px">

     <div *ngIf="selected_user" class="container border rounded p-3">

        <p style="font-size: .8rem;">Selected:  </p>
        <ul style="font-size: .7rem;" class="list-unstyled list-group list-group-flush">
            <li>
              Name: {{selected_user.firstname}} {{selected_user.lastname}}
            </li>
             <li>
              PZW Points: {{selected_user.pzwpoints}}
            </li> 
    
        </ul>

    </div>

  </div>

  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" class="btn btn-success" (click)="submit()" cdkFocusInitial>ok</button>
  </mat-dialog-actions>


</div>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->