#post-img-container{
	
	height: 150px;

}

#post-img{
	height: 100%;
	width: 100%;
}

.logs-img{
	height: 50px;
}

.con-body .container p{
	font-size: .7rem;
}

@media (max-width: 480px) {

	#post-img-container{
		
		height: 200px;

	}

}

