body{
  background-color: #eeeeee;
}

.bg-lime{
  background-color: #afb42b;
}

.bg-brown{
  background-color: #6d4c41;
}

.text-green{
  color: green;
}

.text-white{
  color: white;
}

.containerMargin{
  margin-top: 110px;
}
