<section class="banner" id="home">
  <!-- <h2>help <br>
    reduce <br>
    plastic <br></h2> -->
</section>

<!-- <li class="card" *ngFor="let product of products">{{product.name}}</li> -->



<div class="main">
  <h1 style = "margin-top: 5% ;">Baby & <span style="color: green; font-weight: 500; ;">Kids</span></h1>
  <ul class="cards">
    <li class="cards_item" *ngFor="let row of products">
      <div class="card">
        <div class="card_image"><img src="assets/img/baby/{{row.image}}"></div>
        <div class="card_content">
          <h2 class="card_title">{{row.name}}</h2>
          <p class="card_text">{{row.description}}</p>
          <h5 style="text-align: right; color: #394a6d; font-weight: 500;">{{row.price}}</h5>
        </div>
      </div>
    </li>
  </ul>
</div>
