<section style="background-image: url(assets/img/products-banner.jpg);" class="banner" id="home">
  
</section>



<!-- <li class="card" *ngFor="let product of products">{{product.name}}</li> -->



<div class="main">

  <input type="text" [(ngModel)]="productsFilter.name" placeholder="name">

  <ul class="cards row col-lg-12 col-12 col-sm-12">
    <li class="cards_item col-sm-6 col-6 col-lg-4" *ngFor="let row of products| filterBy: productsFilter | paginate: { itemsPerPage: 5, currentPage: p }">
      <div class="card">
        <div class="card-header">
          <div class="">
            <img style="width:100%" class="img-fluid card-img-top" src="assets/images/{{row.image}}">
          </div>
        </div>
        
        <div class="card-body card_content">
          <div style="height: 30px;" class="row col-sm-12 col-12 col-lg-12">
            <h2 class="card_title">{{row.name}}</h2>
          </div>
          <hr>
           <h6 style="text-align: right; color: #394a6d; font-weight: 500;">Price: {{row.price}}</h6>
        </div>
        
      </div>
    </li>
  </ul>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
