<section class="banner" id="home">
  <!-- <h2>help <br>
    reduce <br>
    plastic <br></h2> -->
</section>
<!-- About -->
<section class="sec" id="about">
  <div class="content">
    <div class="mxw800p">
      <h3>Who We Are</h3>
      <p class="intro">The problem with plastics is getting worse each day. There may be around 5.25
        trillion macro and microplastic pieces floating in the open ocean. Plastics, consistently
        make up 60% to 90% of all marine debris according to studies. Plastics are everywhere. It
        is very powerful, light, cheap and versatile. Some plastic wastes are not reused or recycled,
        and experts believe that 50% of plastics are single-use, which means it is used once before
        discarding. Single-use plastics include plastic bottles, plastic packaging, and plastic
        grocery bags.<br><br>
        Most plastic forms are technically recyclable, but most municipal governments do
        not have the infrastructure in place for this fuel-intensive operation to be carried out.
        Recycling plastic does not only require large amount of energy but also uses large
        quantities of water. With these mentioned studies, the researchers came up with an idea
        that aims to contribute to the elimination or at least to help minimize the number of plastic
        wastes. <br><br>
        Most single-used plastic wastes are coming from people’s basic needs like water
        and food that people buy in stores or shops like coffee shop, milk tea shop, convenience
        stores, groceries and malls. Project: ZeroW aims to target these kinds of businesses to make
        a great impact in minimizing the number of plastic wastes. But it is not the only solution
        to the plastic wastes problem, it still depends on the discipline and participation of the
        people. <br><br>
        Project: ZeroW is a system that maybe used by stores like coffee shops, milk tea
        shops, fast food, restaurants, convenience store, and even groceries. It will integrate
        biometric system to access the user account. For every use of reusable plastic container for
        their shopping or purchase, they will be provided reward points that they may use to redeem
        items from any of the partner stores. They may also use their points to purchase from these
        stores.

      </p>
      <a href="#" class="btn">Read Our Story</a>
    </div>
  </div>
</section>


<section class="sec" id="services">

    <div class="content">

                <div class="mxw800p">
                  <h3>What We Do</h3>
                  <p class="sentenceservices">TAKE A LOOK OF WHAT WE DO AS A COMPANY</p>
                </div>

                <div class="services">

                        <div class="box">

                          <div class="iconBx">
                            <img src="../assets/img/icon1.png">
                          </div>

                          <div class="content">
                            <h2>Reduce Plastics</h2>
                            <p>If you can't <span class="numberspan"> reuse </span> it, refuse it.</p>
                          </div>

                        </div>

                        <div class="box">

                          <div class="iconBx">
                            <img src="../assets/img/icon1.png">
                          </div>

                          <div class="content">
                            <h2>Data Analytics</h2>
                            <p>To make <span class="numberspan">more-informed</span> business decisions.</p>
                          </div>

                        </div>

                        <div class="box">

                          <div class="iconBx">
                            <img src="../assets/img/icon1.png">
                          </div>

                          <div class="content">
                            <h2>Points and Redeem</h2>
                            <p>With <span class="numberspan">5% rebate</span> in every transaction.</p>
                          </div>

                        </div>

                        <div class="box">

                          <div class="iconBx">
                            <img src="../assets/img/icon1.png">
                          </div>

                          <div class="content">
                            <h2>Inventory</h2>
                            <p><span class="numberspan">Management</span> of stocks</p>
                          </div>

                        </div>

                        <div class="box">

                          <div class="iconBx">
                            <img src="../assets/img/icon2.png">
                          </div>

                          <div class="content">
                            <h2>Point of Sale</h2>
                            <p>Transaction <span class="numberspan">logs</span> of Customers</p>
                          </div>

                        </div>

                        <div class="box">

                          <div class="iconBx">
                              <img src="../assets/img/icon3.png">
                          </div>

                          <div class="content">
                              <h2>Biometrics Integration</h2>
                              <p>Be perfectly <span class="numberspan">secure</span> with us</p>
                          </div>

                  </div>
            </div>
    </div>

</section>

  <section class="sec stats" id="numbers">
    <div class="content">
      <div class="mxw800p">
        <h3>THE <span class="numberspan">NUMBERS</span> DON'T LIE</h3>
        <p>CHECK OUT WHAT NUMBERS TELL ABOUT <span class="numberspan"> SINGLE-USE PLASTICS</span> </p>
      </div>
      <div class="statsBox">
        <div class="box">
          <h2>100,000 <span class="numberspan">+</span></h2>
          <h4>Marine <br> Mammals <span class="numberspan">Killed</span> </h4>
        </div>
        <div class="box">
          <h2>1,000,000 <span class="numberspan">+</span></h2>
          <h4>Sea Birds <br><span class="numberspan">Killed</span></h4>
        </div>
        <div class="box">
          <h2>500 <span class="numberspan">+</span></h2>
          <h4>Years to <br> <span class="numberspan">Degrade</span> </h4>
        </div>
        <div class="box">
          <h2>267 <span class="numberspan">+</span></h2>
          <h4><span class="numberspan">Affected</span> <br>Species</h4>
        </div>
      </div>
    </div>
  </section>


  <section class="sec work" id="products">
    <div class="content">
      <div class="mxw800p">
        <h3>OUR <span class="numberspan">PRODUCTS</span></h3>
        <p class="productsection">See what were capable of doing</p>
      </div>
      <div class="workBx">
        <div class="brand" *ngFor="let category of categories | slice:0:7" (click)="getProductList(category)">
          <a> <img src="assets/img/category/{{category.image}}" style="width: 220px; height: 220px;"> <h2></h2></a>
        </div>
        <div class="brand">
          <a href="allcategory.html"><h2>See More</h2></a>
        </div>
      </div>
    </div>
  </section>

  <section class="sec" id="team">
    <div class="content">
      <div class="mxw800p">
        <h3>Developers' <span class="aboutuscorner">Corner</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco.</p>
      </div>
      <div class="teamBx">
        <div class="member">
          <div class="imgBx">
            <img src="assets/img/steve.jpg">
          </div>
          <div class="details">
            <div>
              <h2>Steve Miayo<br><span>Backend Developer</span></h2>
            </div>
          </div>
        </div>
        <div class="member">
          <div class="imgBx">
            <img src="assets/img/mark.jpg">
          </div>
          <div class="details">
            <div>
              <h2>Mark Cabansag<br><span>Front End Developer</span></h2>
            </div>
          </div>
        </div>
        <div class="member">
          <div class="imgBx">
            <img src="assets/img/jovani.jpg">
          </div>
          <div class="details">
            <div>
              <h2>Jovani Garcia<br><span>Backend Developer</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
