<div class="row containerMargin px-1">

  <div class="col-xl-2">
      <div class="row">
          <div class="col-xl-12">
              <mdb-card class="text-center mb-3 bg-lime">
                  <mdb-card-body>
                      <mdb-card-title>
                          <h1 class="text-white">9999</h1>
                      </mdb-card-title>
                  <mdb-card-text class="text-white">PZW POINTS</mdb-card-text>
                  </mdb-card-body>
              </mdb-card>
          </div>
      </div>

      <div class="row mt-2">
          <div class="col-xl-12">
              <mdb-card>
                  <mdb-card-header>QUICK LINKS</mdb-card-header>
                  <mdb-card-body>
                      <p><a href="">Sample Link</a></p>
                      <p><a href="">Sample Link</a></p>
                      <p><a href="">Sample Link</a></p>
                      <p><a href="">Sample Link</a></p>
                      <p><a href="">Sample Link</a></p>
                      <p><a href="">Sample Link</a></p>
                  </mdb-card-body>
              </mdb-card>
          </div>
      </div>
  </div>

  <div class="col-xl-7">
      <div class="row">
          <div class="col-xl-12">

              <!-- Card -->
              <mdb-card class="mt-4" *ngFor="let post of posts">
                  <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <!-- Card img -->
                      <mdb-card-img src="{{post.media_url}}" alt="Card image cap"></mdb-card-img>
                      <a>
                          <div class="mask"></div>
                      </a>
                  </div>
                  <!--Card content-->
                  <mdb-card-body>
                      <!-- Date Posted & Author -->
                      <mdb-card-text class="text-black">{{post.created_at| date:'mediumTime'}}</mdb-card-text>
                      <!--Title-->
                      <mdb-card-title>
                          <h3>{{post.title}}</h3>
                      </mdb-card-title>

                      <!--Text-->
                      <mdb-card-text>
                        {{post.body}}
                      </mdb-card-text>
                  </mdb-card-body>
              </mdb-card>
              <!-- Card -->

          </div>
      </div>
  </div>

  <div class="col-xl-3">
      <div class="row">
          <div class="col-xl-12">
              <mdb-card class="text-center mb-3">
                  <mdb-card-header>REDEEM OUR PRODUCTS</mdb-card-header>
                  <mdb-card-body>
                      <a href="" class="text-dark">
                          <mdb-card class="mt-3">
                              <mdb-card-body>
                                  <div class="row">
                                      <div class="col-xl-4">
                                          <img src="assets/images/r1.jpg" class="img-fluid">
                                      </div>

                                      <div class="col-xl-8">
                                          <p class="p-0 m-0">Product A</p>
                                          <mdb-card-text class="text-black">100pts</mdb-card-text>
                                      </div>
                                  </div>
                              </mdb-card-body>
                          </mdb-card>
                      </a>

                      <a href="" class="text-dark">
                          <mdb-card class="mt-3">
                              <mdb-card-body>
                                  <div class="row">
                                      <div class="col-xl-4">
                                          <img src="assets/images/r2.jpg" class="img-fluid">
                                      </div>

                                      <div class="col-xl-8">
                                          <p class="p-0 m-0">Product B</p>
                                          <mdb-card-text class="text-black">100pts</mdb-card-text>
                                      </div>
                                  </div>
                              </mdb-card-body>
                          </mdb-card>
                      </a>

                      <a href="" class="text-dark">
                          <mdb-card class="mt-3">
                              <mdb-card-body>
                                  <div class="row">
                                      <div class="col-xl-4">
                                          <img src="assets/images/r3.jpg" class="img-fluid">
                                      </div>

                                      <div class="col-xl-8">
                                          <p class="p-0 m-0">Product C</p>
                                          <mdb-card-text class="text-black">100pts</mdb-card-text>
                                      </div>
                                  </div>
                              </mdb-card-body>
                          </mdb-card>
                      </a>

                      <a href="" class="text-dark">
                          <mdb-card class="mt-3">
                              <mdb-card-body>
                                  <div class="row">
                                      <div class="col-xl-4">
                                          <img src="assets/images/r4.jpg" class="img-fluid">
                                      </div>

                                      <div class="col-xl-8">
                                          <p class="p-0 m-0">Product D</p>
                                          <mdb-card-text class="text-black">100pts</mdb-card-text>
                                      </div>
                                  </div>
                              </mdb-card-body>
                          </mdb-card>
                      </a>

                      <a href="" class="text-dark">
                          <mdb-card class="mt-3">
                              <mdb-card-body>
                                  <div class="row">
                                      <div class="col-xl-4">
                                          <img src="assets/images/r5.jpg" class="img-fluid">
                                      </div>

                                      <div class="col-xl-8">
                                          <p class="p-0 m-0">Product E</p>
                                          <mdb-card-text class="text-black">100pts</mdb-card-text>
                                      </div>
                                  </div>
                              </mdb-card-body>
                          </mdb-card>
                      </a>

                      <a href="" class="text-dark">
                          <mdb-card class="mt-3">
                              <mdb-card-body>
                                  <div class="row">
                                      <div class="col-xl-4">
                                          <img src="assets/images/r6.jpg" class="img-fluid">
                                      </div>

                                      <div class="col-xl-8">
                                          <p class="p-0 m-0">Product F</p>
                                          <mdb-card-text class="text-black">100pts</mdb-card-text>
                                      </div>
                                  </div>
                              </mdb-card-body>
                          </mdb-card>
                      </a>
                  </mdb-card-body>
              </mdb-card>
          </div>
      </div>
  </div>

</div>
