      
  <div class="col-lg-12 mt-5">
    <div class="row">
      <div class="col-lg-12 mt-3 border-bottom">
        <h5>Sales Log</h5>
      </div>

      <hr>

      <div class="col-lg-12 p-3">
        <div class="row">
          <div class="col-lg-12">
            
            <div class="row">

              <div class="col-lg-6">
                <ul style="font-size: .7rem;" class="list-unstyled">
                  <li>Sales log: <span class="float-right">{{this.sales.length}}</span></li>
                  <li>Profit: <span class="float-right">{{this.totalSale.reduce(totalAll,0) | number: '1.2-3'}}</span></li>
   
                </ul>
              </div>  

              <div class="col-lg-6">

                <ul style="font-size: .7rem;" class="list-unstyled">
                  <li>Anonimous Sale: <span class="float-right">{{this.anonymousSale.length}}</span></li>
                  <li>Customer Sale: <span class="float-right">{{this.sales.length - this.anonymousSale.length}}</span></li>
   
                </ul>
                
                    
              </div>

            </div>

          </div>
        </div>
      </div>
       
        
     </div>

  </div>

      <div class="col-lg-12">
          
          <div class="row">

                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
              
               <div class="col-lg-4 p-1">
            <!-- //table view -->
                      <mat-form-field style="width:100%">
                        <mat-label>Input Transaction Code</mat-label>
                        <input matInput type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)">
                        <mat-icon matSuffix>search</mat-icon>
                      </mat-form-field>

                </div>


          </div>


      </div>

    	<div class="col-lg-12">

    		<table style="width:100%;" mat-table [dataSource]="dataSource" matSort class="">

                <ng-container matColumnDef="No.">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                  <td mat-cell *matCellDef="let element: index as i">
                    {{i+1}}
                  </td>
                </ng-container>    

        
                <!-- Name Column -->
                <ng-container matColumnDef="user_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> <mdb-icon fas icon="user-alt" class="mr-1"></mdb-icon> Customer </th>
                  <td mat-cell *matCellDef="let element">

                  	{{(element.user_id==null)? 'Anonimous':element.user_id.firstname+' '+element.user_id.lastname}}

                  </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="boxes" class="mr-1"></mdb-icon> Items </th>
                  <td mat-cell class="price" *matCellDef="let element"> {{element.item.length}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="money-bill" class="mr-1"></mdb-icon> Total </th>
                  <td mat-cell *matCellDef="let element"> {{element.total | number:'1.2-3'}} </td>
                </ng-container>

                <ng-container matColumnDef="amount_due">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="money-bill" class="mr-1"></mdb-icon> Amount Due </th>
                  <td mat-cell *matCellDef="let element"> {{(!element.amount_due)? 'none':element.amount_due | number:'1.2-3'}} </td>
                </ng-container>

                <ng-container matColumnDef="change">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="money-bill" class="mr-1"></mdb-icon> Change </th>
                  <td mat-cell *matCellDef="let element"> {{(!element.change)? 'none':element.change | number:'1.2-3'}} </td>
                </ng-container>

                <ng-container matColumnDef="sale_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="calendar-day" class="mr-1"></mdb-icon> Date Recorded </th>
                  <td mat-cell *matCellDef="let element"> {{element.sale_date | date:'mediumTime'}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <mdb-icon fas icon="tools" class="mr-1"></mdb-icon> Action </th>

                  <td mat-cell *matCellDef="let element">
                    <button (click)="openSalesDialog(element)"  mdbTooltip="View Sales Information" placement="top" type="button" class="btn btn-default btn-circle">
                        <mdb-icon fas icon="search"></mdb-icon>
                      </button>
                    </td>
                </ng-container>

                
              
              
                <tr class="" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



          </table>

          


          
            <mat-paginator [length]="length"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = $event"
                            showFirstLastButtons>
            </mat-paginator>

    	</div>

