<main class="py-3">
    <div class="">

      <div class="col-lg-12">
        
        <div class="row">

            <div class="col-lg-4">

              {{this.sales.length}}
              
            </div>

            <div class="col-lg-4">

              {{this.totalSale.reduce(totalAll,0)}}
              
            </div>
          
        </div>

      </div>

    	<div class="col-lg-12">

    		<table style="width:100%;" mat-table [dataSource]="dataSource" matSort class="">

                <ng-container matColumnDef="No.">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                  <td mat-cell *matCellDef="let element: index as i">
                    {{i+1}}
                  </td>
                </ng-container>    

        
                <!-- Name Column -->
                <ng-container matColumnDef="user_id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
                  <td mat-cell *matCellDef="let element">

                  	{{(element.user_id==null)? 'Anonimous':element.user_id.firstname+' '+element.user_id.lastname}}

                  </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
                  <td mat-cell class="price" *matCellDef="let element"> {{element.item.length}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                  <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>

                <ng-container matColumnDef="amount_due">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount Due </th>
                  <td mat-cell *matCellDef="let element"> {{(!element.amount_due)? 'none':element.amount_due}} </td>
                </ng-container>

                <ng-container matColumnDef="change">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Change </th>
                  <td mat-cell *matCellDef="let element"> {{(!element.change)? 'none':element.change}} </td>
                </ng-container>

                <ng-container matColumnDef="sale_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Recorded </th>
                  <td mat-cell *matCellDef="let element"> {{element.sale_date}} </td>
                </ng-container>
              
              
                <tr class="" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



          </table>

          


          
            <mat-paginator [length]="length"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = $event"
                            showFirstLastButtons>
            </mat-paginator>

    	</div>


      <button (click)="printThis()">
        print
      </button>
    	 
        
    </div>

    

</main>
