
<mat-tab-group>
      
      <mat-tab label="Products ">
        <ng-template mat-tab-label>
              <mdb-icon fas icon="boxes"></mdb-icon>
              <span class="ml-2">Sales</span>
          </ng-template>

          <div class="col-lg-12 mt-2 info-color-dark">

                  <div class="row">

                    <div class="col-lg-12 border-bottom pt-2">
                      <h4 class="h4 h4-responsive white-text">Sales Log</h4>
                    </div>

                    <hr>

                    <div class="col-lg-12 p-3">
                      <div class="row">
                        <div class="col-lg-12">
                          
                          <div class="row">

                            <div class="col-lg-6">
                              <ul style="font-size: .7rem;" class="list-unstyled white-text">
                                <li>Sales log: <span class="float-right">{{this.sales.length}}</span></li>
                                <li>Profit: <span class="float-right">{{this.totalSale.reduce(totalAll,0) | number: '1.2-3'}}</span></li>
                 
                              </ul>
                            </div>  

                            <div class="col-lg-6">

                              <ul style="font-size: .7rem;" class="list-unstyled white-text">
                                <li>Anonimous Sale: <span class="float-right">{{this.anonymousSale.length}}</span></li>
                                <li>Customer Sale: <span class="float-right">{{Math.abs(this.sales.length - this.anonymousSale.length)}}</span></li>
                 
                              </ul>
                              
                                  
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                     
                      
                   </div>

                </div>

                    <div class="col-lg-12">
                        
                        <div class="row">

                              <div class="col-lg-4 pt-2">
                                
                                <button mdbTooltip="Mark multiple" (click)="isMarked=false" [class.disabled]="isMarked==false" placement="top" type="button" class="btn btn-default btn-circle ">
                                      <mdb-icon fas icon="check-double"></mdb-icon>
                                    </button>

                                <button *ngIf="isMarked==false" mdbTooltip="Arhcive Selected" (click)="archiveMany()"  placement="top" type="button" class="btn btn-default btn-circle">
                                      <mdb-icon fas icon="trash-alt"></mdb-icon>
                                    </button>


                                <button mdbTooltip="Mark multiple" *ngIf="isMarked==false" (click)="isMarked=true"  class="animated slideInLeft" [class.slideOutLeft]="isMarked==false" placement="top" type="button" class="btn btn-primary btn-circle">
                                      <mdb-icon fas icon="angle-left"></mdb-icon>
                                    </button>

                                <button mdbTooltip="Refresh"  (click)="getSales()"  class="animated slideInLeft" placement="top" type="button" class="btn btn-primary btn-circle">
                                      <mdb-icon fas icon="sync"></mdb-icon>
                                    </button>

                              </div>
                              <div class="col-lg-4"></div>
                            
                             <div class="col-lg-4 p-1">
                          <!-- //table view -->
                                    <mat-form-field style="width:100%">
                                      <mat-label>Input Transaction Code</mat-label>
                                      <input matInput type="text" placeholder="Search" (keyup)="applyFilter($event.target.value)">
                                      <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>

                              </div>


                        </div>


                    </div>

                    <div class="col-lg-12">

                      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar><br>

                      <table style="width:100%;" mat-table [dataSource]="dataSource" matSort class="">


                              <ng-container matColumnDef="select">
                                <th  [class.d-none]="isMarked==true" class="animated fadeIn" mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                  </mat-checkbox>
                                </th>
                                <td  [class.d-none]="isMarked==true" class="animated fadeIn" mat-cell *matCellDef="let row">
                                  <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)"
                                                [aria-label]="checkboxLabel(row)">
                                  </mat-checkbox>
                                </td>
                              </ng-container>


                              <ng-container matColumnDef="No.">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
                                <td mat-cell *matCellDef="let element: index as i">
                                  {{i+1}}
                                </td>
                              </ng-container>    

                      
                              <!-- Name Column -->
                              <ng-container matColumnDef="user_id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> <mdb-icon fas icon="user-alt" class="mr-1"></mdb-icon> Customer </th>
                                <td mat-cell *matCellDef="let element">

                                  {{(element.user_id==null)? 'Anonimous':element.user_id.firstname+' '+element.user_id.lastname}}

                                </td>
                              </ng-container>
                            
                              <!-- Weight Column -->
                              <ng-container matColumnDef="item">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="boxes" class="mr-1"></mdb-icon> Items </th>
                                <td mat-cell class="price" *matCellDef="let element"> {{element.item.length}} </td>
                              </ng-container>

                              <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="money-bill" class="mr-1"></mdb-icon> Total </th>
                                <td mat-cell *matCellDef="let element"> {{element.total | number:'1.2-3'}} </td>
                              </ng-container>

                              <ng-container matColumnDef="amount_due">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="money-bill" class="mr-1"></mdb-icon> Amount Due </th>
                                <td mat-cell *matCellDef="let element"> {{(!element.amount_due)? 'none':element.amount_due | number:'1.2-3'}} </td>
                              </ng-container>

                              <ng-container matColumnDef="change">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="money-bill" class="mr-1"></mdb-icon> Change </th>
                                <td mat-cell *matCellDef="let element"> {{(!element.change)? 'none':element.change | number:'1.2-3'}} </td>
                              </ng-container>

                              <ng-container matColumnDef="sale_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header><mdb-icon fas icon="calendar-day" class="mr-1"></mdb-icon> Date Recorded </th>
                                <td mat-cell *matCellDef="let element"> {{element.sale_date | date:'mediumTime'}} </td>
                              </ng-container>

                              <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  <mdb-icon fas icon="tools" class="mr-1"></mdb-icon> Action </th>

                                <td mat-cell *matCellDef="let element">
                                  
                                  <button (click)="openSalesDialog(element)"  mdbTooltip="View Sales Information" placement="top" type="button" class="btn btn-default btn-circle">
                                      <mdb-icon fas icon="search"></mdb-icon>
                                    </button>

                                    <button (click)="archiveSale(element)"  mdbTooltip="arcive Sales Information" placement="top" type="button" class="btn btn-danger btn-circle">
                                      <mdb-icon fas icon="trash"></mdb-icon>
                                    </button>

                                  </td>

                                   


                              </ng-container>

                              
                            
                            
                              <tr class="" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



                        </table>

                        


                        
                          <mat-paginator [length]="length"
                                          [pageSize]="pageSize"
                                          [pageSizeOptions]="pageSizeOptions"
                                          (page)="pageEvent = $event"
                                          showFirstLastButtons>
                          </mat-paginator>

              </div>

        
      </mat-tab>
   

      <mat-tab label="Category"> 

        <ng-template mat-tab-label>
              <mdb-icon fab icon="buffer"></mdb-icon>
              <span class="ml-2">Water Bending Machine</span>
          </ng-template>

        <app-tmchn-sales></app-tmchn-sales>

      </mat-tab>

      <mat-tab label="Category"> 

        <ng-template mat-tab-label>
              <mdb-icon fab icon="buffer"></mdb-icon>
              <span class="ml-2">Report</span>
          </ng-template>

         <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
          </canvas>

      </mat-tab>

</mat-tab-group>      




